.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #bef6c6;
}


.home-title {
  font-size: 1.5em;
  color: #666;
  opacity: 0;
  transform: scale(.5);
  animation: zoomIn 3s ease-out forwards;
  animation-delay: 0.5s;
}

.register-text {
  font-size: 1.2em;
  color: #6200ea;
  opacity: 0;
  transform: rotate(-10deg);
  animation: rotateIn 1s ease-out forwards, pulseZoom 1.5s ease-in-out infinite alternate;
  animation-delay: 1s, 2s;
}

.welcome-text {
  overflow: hidden; 
  border-right: .15em solid orange; 
  white-space: nowrap; 
  margin: 0 auto; 
  animation: 
    typing 3s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 32% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

@keyframes zoomIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes pulseZoom {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1.2); 
  }
}
@keyframes rotateIn {
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}
@media (max-width:600px){
  .welcome-text{
    font-size: 15px;
  }
  .home-title{
    font-size: 15px;
    margin-left: 10px;
  }
  .register-text{
    font-size: 12px;
  }
}

.dark-mode .home-container {
  background-color: rgb(57, 55, 55);
}
.dark-mode .welcome-text{
  color: #fff;
}
.dark-mode .home-title {
  color: #bebdbd;
}
.dark-mode .register-text{
  color: #a976f0;
}