html, body {
  width: 100%;
  overflow-x: hidden;
}
.dashboard {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  
}

.journal-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}

.journal-form input,
.journal-form textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: vertical;
}

.journal-form button {
  padding: 10px;
  background-color: #6200ea;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.journal-form button:hover {
  background-color: #4500b0;
}

.journal-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.journal-card {
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.actions {
  margin-top: 10px;
}

.actions button {
  margin-right: 10px;
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.actions button:first-child {
  background-color: #4caf50;
  color: white;
}

.actions button:last-child {
  background-color: #f44336;
  color: white;
}
.input-with-select {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
}

.input-with-select select {
  border: none;
  padding: 10px;
  background: #f9f9f9;
  font-size: 16px;
  cursor: pointer;
}

.input-with-select input {
  border: none;
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

.input-with-select select:focus,
.input-with-select input:focus {
  outline: none;
}


.dark-mode .journal-form button{
  background-color: #d4d0d0;
  color: #000;
}